<div class="padding-16 standardcard friendrow">

    <div *ngIf="fs.images.length === 0">
        <b>Du hast keine Freunde 🐹</b>
    </div>

    <div class="friend" *ngFor="let name of fs.names; let i = index">
        <button style="height: 7.5px;" matBadgeSize="large" matBadge="X" color="primary" class="badge" (click)="fs.deleteFriend(fs.names[i], fs.descSmall[i], fs.images[i])"></button>
            <img src="{{ fs.images[i] }}" title="{{ fs.descSmall[i] }}"> <br />{{ name }}
    </div>
</div>